@using aspapp.Models.VM
@model EditPassword
@{
    ViewData["Title"] = "Zmień hasło administratora";
}

<div class="container mt-4">
    <h2>Zmień hasło administratora</h2>
    <a href="@Url.Action("EditAdminPasswordReCAPTCHA", "Admin")" class="list-group-item list-group-item-action">🔐 Zmień hasło administratora z reCAPTCHA</a>
    <hr />

    <form asp-action="EditAdminPassword" method="post">
        @Html.AntiForgeryToken()

        <div class="mb-3">
            <label asp-for="OldPassword" class="form-label">Aktualne hasło</label>
            <input asp-for="OldPassword" type="password" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label">Nowe hasło</label>
            <input asp-for="NewPassword" type="password" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">powtorz hasło</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-warning">Zmień hasło</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Powrót</a>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success mt-3">@ViewBag.Message</div>
        }
    </form>
</div>
