@{
    ViewData["Title"] = "Panel administratora";
}

<h2>Panel Administratora</h2>

<ul class="p-4 border rounded bg-grey">

</ul>
<a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Home</a>