@model List<string>

<h2>Dostępne pliki</h2>

@if (!Model.Any())
{
    <p>Brak plików</p>
}
else
{
    <ul>
        @foreach (var file in Model)
        {
            <li>
                <a href="@Url.Action("DownloadFile", "Admin", new { fileName = file })">
                    @file
                </a>
            </li>
        }
    </ul>
}

<div>
    <h3>Aktywacja licencji</h3>
    <p>YUUY_ZXRBVSG</p>

    <form asp-action="ActivateLicense" method="post">
        @Html.AntiForgeryToken()

        <label>Wpisz klucz licencyjny:</label>
        <input type="text" name="licenseKey" class="form-control" required />
        <button type="submit" class="btn btn-primary mt-2">Aktywuj</button>
    </form>

    <form asp-action="ToggleLicence" method="post" class="mt-2">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-warning">Debug zmiane licencji</button>
    </form>

    @if (ViewBag.Message != null)
    {
        <p class="mt-3">@ViewBag.Message</p>
    }
</div>